header{align-items:center;background-color:#1d282e;display:flex !important;justify-content:space-between;font-family:"Titillium Web", sans-serif;}
    header brand{flex:1;margin-left:40px;}
    header brand img{width: 130px;}
    header links{display:flex;justify-content:space-between; padding: 10px 10px;}
    header links a{text-decoration: none;display:block;padding:15px 12px;color:#eee;transition:0.25s; margin: 0px 5px;}
    header links a:hover,header .linkactive{text-decoration:none;background:#eee;color:#37474F;border-radius: 3px;}

  
    
.bar1,.bar2,.bar3{
    width:35px;
    height:5px;
    background-color:#888;
    margin:5px;
    transition:0.6s;
}
.open .bar1{
    transform: translate(0,10px) rotateZ(45deg);
}
.open .bar3{
    transform: translate(0,-10px) rotateZ(-45deg);
}
.open .bar2{
    opacity:0;
}

openclose{display:none;}
@media only screen and (max-width:768px){
    header{flex-wrap:wrap;}
    header brand{margin-left:0px;padding:20px;}
    header links{width:100%;}
    header .linkactive{border:none;background-color:white;color:#37474F;}
    header links a{width:100%;display:block;margin:0px;}
    openclose{display:inline-block;cursor:pointer;}
    header links{flex-direction: column;display:none;width:100%;}
    
    
   

}