<!DOCTYPE html>
<html ng-app="invente">

<head>
    <title>Invente | Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200' rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="reg.css" />
    <link rel="stylesheet" type="text/css" href="../css/navbar.css" >
    <link rel="stylesheet" type="text/css" href="../css/foot.css" >
    <link rel="stylesheet" href="../css/cadetnav.css"/>
    <script src="../js/jquery-2.1.4.min.js"></script>
    <script src="../js/cadetnav.js"></script>
</head>

<body  ng-controller="regFormController">
<!--    <header>
    <nav id="header-nav" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">
            <a href="/">
            <img src="../img/logo-nav1.png" class="hidden-xs imlog">
            <img src="../img/logo-nav2.png" class="hidden-md hidden-lg hidden-sm imlog">
			</a>
          </div>

          <button id="navbarToggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        
        <div id="collapsable-nav" class="collapse navbar-collapse cnv">
           <ul id="nav-list" class="nav navbar-nav navbar-right">
                <li><a href="../"><br class="hidden-xs"> Home</a></li>
                <li><a href="../aboutus"><br class="hidden-xs"> About Us</a></li>
                <li><a href="../events/"><br class="hidden-xs"> Events</a></li>
                <li><a href="../workshops/" id="workshop"><br class="hidden-xs"> Workshops</a></li>
                <li><a href="../hackathon"><br class="hidden-xs">Hackathon</a></li>
				<li><a href="../hospitality"><br class="hidden-xs">Hospitality</a></li>
                <li class="active"><a href="../register" class="act"><br class="hidden-xs"> Register</a></li>
            <li>
              <a href="#">
              <br class="hidden-xs"> Contact Us</a>
            </li>
          </ul> #nav-list 
        </div> .collapse .navbar-collapse 
      </div> .container 
    </nav> #header-nav 
  </header>-->
  <header>
    <brand>
        <a href='../'><img src="../img/invente.svg"></a>
    </brand>
    <openclose>
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </openclose>
    <links>
        <a href='../'>Home</a>
        <a href='../aboutus/'>About-us</a>
        <a href='../events/' >Events</a>
        <a href='../workshops/'>Workshops</a>
        <a href='../hackathon/'>Hackathon</a>
        <a href='../hospitality/'>Hospitality</a>
        <a href='../register/' class="linkactive" >Register</a>
    </links>
</header>
<!--<div class="success-info">Successfully Registered</div>-->
    <!--<div class="failure-info">Registration Failed</div>-->
    <div id="reg" class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 col-xxs-12">
                <div class="title-block">
                    <h1>Register</h1></div>
            </div>
        </div>

        <div class="row"><div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2" style="padding:0"><div class='card-hack'>
            <h3 style="text-align:center;">Instructions</h3>
            <ul>
                <li>General Registration : Rs.100</li>
                <li>Students who have registered online with be given a registration code. This has to be shown at the registration desk on the day of the event and the registration fee has to be paid.</li>
                <li>Students can also register on the spot. Payment will have to be made with the same.</li>
                <li>Participants who have registered can take part in events on both days 9<sup>th</sup> and 10<sup>th</sup> Sept 2016.</li>
                <li>Workshop Registration : Rs.200</li>
            </ul>
        </div></div></div>

        <div class="row">

        <form class="form-horizontal fc col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2" role="form" name="regForm" ng-submit="register()" novalidate>


            <div class="form-group" ng-class="{ 'has-error' : regForm.uname.$error.required && !regForm.uname.$pristine }">
                <label class="control-label col-xs-2" for="uname"><i class="fa fa-user" aria-hidden="true"></i></label>
                <div class="col-xs-10">
                    <input type="text"  ng-model="data.uname"  class="form-control" name="uname" placeholder="Full Name" required>
                    <span ng-show="regForm.uname.$error.required && !regForm.uname.$pristine" class="help-block">First Name is Required</span>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : regForm.college.$error.required && !regForm.college.$pristine }">
                <label class="control-label col-xs-2" for="college"><i class="fa fa-university" aria-hidden="true"></i></label>
                <div class="col-xs-10">
                    <input type="text"  ng-model="data.college"  class="form-control" name="college" placeholder="College Name" required>
                    <span ng-show="regForm.college.$error.required && !regForm.college.$pristine" class="help-block">College is Required</span>
                </div>
            </div>
            
            <div class="form-group" ng-class="{ 'has-error' : invalidYearSelection}">
                <label class="control-label col-xs-2" for="year"><i class="fa fa-calendar" aria-hidden="true"></i></label>
                    <div class="col-xs-9">
                        <select name="year" ng-model='data.year' ng-options="year.value as year.label for year in years" class="form-control">
                            <option value="">Year</option>
                        </select>
                        <span ng-show="invalidYearSelection" class="help-block">Select an Option</span>
                    </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : invalidBranchSelection}">
                <label class="control-label col-xs-2" for="branch"><i class="fa fa-certificate" aria-hidden="true"></i></label>
                    <div class="col-xs-9">
                        <select name="year" ng-model='data.branch' ng-options="branch.value as branch.label for branch in branches" class="form-control">
                            <option value="">Branch</option>
                        </select>
                        <span ng-show="invalidBranchSelection" class="help-block">Select an Option</span>
                    </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : (regForm.email.$error.required  && !regForm.email.$pristine) || regForm.email.$error.email }">
                <label class="control-label col-xs-2" for="email"><i class="fa fa-envelope" aria-hidden="true"></i></label>
                <div class="col-xs-10">
                    <input type="email"  ng-model="data.email"  class="form-control" name="email" placeholder="Email" required>
                    <span ng-show="regForm.email.$error.required && !regForm.email.$pristine" class="help-block">Email is Required</span>
                    <span ng-show="regForm.email.$error.email" class="help-block">Invalid email address.</span>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : (regForm.phone.$error.required || regForm.phone.$invalid) && !regForm.phone.$pristine }">
                <label class="control-label col-xs-2" for="phone"><i class="fa fa-phone" aria-hidden="true"></i></label>
                <div class="col-xs-10">
                    <input type="text" ng-pattern="/^[0-9]{10}$/"  ng-model="data.phone"  class="form-control" name="phone" placeholder="Mobile Number" required>
                    <span ng-show="regForm.phone.$error.required && !regForm.phone.$pristine" class="help-block">Mobile Number is Required</span>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : false }">
                <label class="control-label col-xs-2"><i class="fa fa-hotel" aria-hidden="true"></i></label>
                <div class="col-xs-10">
                    <span class="checkbox-desc-label checkbox-heading-desc-label">Avail Accomodation</span><input type="checkbox" ng-model="data.accom" id="accom-checkbox" class="form-control yesno-checkbox" name="accom"><label for="accom-checkbox" class="yesno-value yesno-value-no">No</label><label for="accom-checkbox" class="yesno-value yesno-value-yes">Yes</label>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : false }">
                <label class="control-label col-xs-2"><i class="fa fa-industry" aria-hidden="true"></i></label>
                <div class="col-xs-10">
                    <span class="checkbox-desc-label checkbox-heading-desc-label">Workshop Participation</span>
                    <div>
                        <ul class="checkbox-list">
                            <li><span class="checkbox-desc-label">MATLAB Workshop</span><input type="checkbox" ng-model="data.workshops[0]" id="workshop1-checkbox" class="form-control yesno-checkbox" name="workshops[]" value="1"><label for="workshop1-checkbox" class="yesno-value yesno-value-no">No</label><label for="workshop1-checkbox" class="yesno-value yesno-value-yes">Yes</label></li>
                            <li><span class="checkbox-desc-label">Workshop - "Booming and Boom of IoT"</span><input type="checkbox" ng-model="data.workshops[1]" id="workshop2-checkbox" class="form-control yesno-checkbox" name="workshops[]" value="2"><label for="workshop2-checkbox" class="yesno-value yesno-value-no">No</label><label for="workshop2-checkbox" class="yesno-value yesno-value-yes">Yes</label></li>
                            <li><span class="checkbox-desc-label">Robotics and Automation</span><input type="checkbox" ng-model="data.workshops[2]" id="workshop3-checkbox" class="form-control yesno-checkbox" name="workshops[]" value="3"><label for="workshop3-checkbox" class="yesno-value yesno-value-no">No</label><label for="workshop3-checkbox" class="yesno-value yesno-value-yes">Yes</label></li>
                            <li><span class="checkbox-desc-label">Career Guidance</span><input type="checkbox" ng-model="data.workshops[3]" id="workshop4-checkbox" class="form-control yesno-checkbox" name="workshops[]" value="4"><label for="workshop4-checkbox" class="yesno-value yesno-value-no">No</label><label for="workshop4-checkbox" class="yesno-value yesno-value-yes">Yes</label></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xs-offset-2 col-md-offset-4" style="padding-bottom: 20px;"><div class="g-recaptcha" data-callback="captchaSuccess" data-expired-callback="captchaExpired" data-sitekey="6LcKUygTAAAAAFrdeeqPo440Ri4VfQXn3gQYukHy"></div></div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                    <button ng-disabled="!gcaptchaed || regForm.$invalid" type="submit" class="btn btn-default" id="but">Register</button>
                </div>
            </div>
            
            <div class="notif-box" ng-show="popup" style="padding:0;">
                <center>
                    <div ng-class="{'success': recommended, 'failure': !recommended}">
                        <div class="notif ng-cloak">{{errMsg}}</div>
                    </div>
                </center>
            </div>
        </form>
        
      </div>
    </div>

    <div class="fbg">
     <div class="container footer">
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-1 col-md-3 col-md-offset-2 little-about-box"><img src="../img/logo.png" width="150px"><p class="little-about">Invente is a two-day techfest built around encouraging budding engineers to showcase their talents with unbridled enthusiasm.</p></div>
                    <div class="col-xs-3 quick-link-box hidden-xs">
                        <h4>Quick Links</h4>
                        <p class="quick-links"><a href="http://www.ssninvente.com">Home</a> / <a href="events/">Events</a> / <a href="workshops/">Workshops</a> / <a href="register/">Register</a></p>
                    </div>
                    <div class="col-xs-3 col-xs-offset-3 col-sm-offset-2 col-md-3 col-sm-offset-0 quick-link-box">
                        <h4>Get In Touch</h4>
                        <div class="social-link-container">
                            <a href="https://www.facebook.com/ssninvente/" target="_blank"><div class="social-link fb"><i class="fa fa-facebook fa-lg"></i></div></a>
                            <a href="https://twitter.com/ssn_invente" target="_blank"><div class="social-link tw"><i class="fa fa-twitter fa-lg"></i></div></a>
                            <a href="https://medium.com/@SSN_Invente" target="_blank"><div class="social-link md"><i class="fa fa-medium fa-lg"></i></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="attr-block">
                <div class="copyright">Copyright &copy; 2016. All Rights Reserved.</div>
                <div class="credits">Designed by <a href="https://www.behance.net/pratheepkumar1" target="_blank">Pratheep Kumar C</a>. Developed by <a href="https://github.com/orgs/ssn-invente/people" target="_blank">AirBenders</a>.</div>
            </div>


    <!--<script src="js/jquery-2.1.4.min.js"></script>-->
 <!--<script src="js/bootstrap.min.js"></script>-->
 <!--<script src="js/ajax-utils.js"></script>-->
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
 <script src='https://www.google.com/recaptcha/api.js' async defer></script>
<!--<script src="../js/vendor/angular.min.js"></script>-->
<script src="reg.js"></script>
<!--<script src="../js/jquery-2.1.4.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/ajax-utils.js"></script>
<script src="../js/toggle.js"></script>-->


        <!-- Google Analytics: -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-82191930-1','auto');ga('send','pageview');
        </script>
</body>

</html>
