/*Normalize*/

*{box-sizing:border-box;font-family:'Titillium Web',sans-serif;}
body{margin:0px;}


/*developing css*/
/**{border:1px solid red;}*/




/*Main css*/
header{align-items:center;background-color:#37474F;display:flex;justify-content:space-between;}
    header brand{flex:1;}
    header links a{text-decoration: none;color:white;display:inline-block;padding:20px 20px;color:whitesmoke;font-family:tahoma;}
    header links a:hover{background-color:white;color:#37474F;}
   
    
body{background:linear-gradient(#ff9900,#f26739) fixed;min-height:100vh;}
    tab{display:flex;justify-content:space-around;margin:40px;color:white;}
        card{display:flex;flex-direction:column;align-items:center;text-align: center;opacity:1;}
            card.dark,item.dark{opacity:0.5;}
                card.dark:hover{opacity:1;}
            letter{cursor:pointer;padding:30px;border:2px solid white;border-radius:50%;text-shadow:10px 5px 5px rgba(0,0,0,0.4);font-size:2em;vertical-align:middle;font-weight:900;height:95px;width:95px;box-shadow:2px 4px 0px #888;}
                letter:hover,letter.active{background-color:white;color:orange;text-shadow:none;opacity:1;}
                
            dept{text-transform: Uppercase;margin:10px;}
    tabbed-content{display:flex;color:white;text-align: center;justify-content:flex-start; margin: 0px 40px;}
        tabbed-content div{display:flex;flex:1;width:25%;align-items:center;}
        tabbed-content div:last-child{flex:2;margin-right:15px;border-radius:5px;}
        tabbed-content div.eventList{display:flex;flex-wrap: wrap;justify-content:center;align-content:flex-start;}
        tabbed-content div#about-event{flex-direction:column;background-color:#fff3E0;color:orange;text-align:left;align-items:flex-start;padding:20px;}
        tabbed-content div#about-event p{padding:0px;}
            item{display:block;padding:20px;width:30%;border:2px solid white;cursor:pointer;margin:20px;border-radius:4px;}
                item:hover,item.active{background-color:white;color:orange;}
                item.dark:hover{opacity:1;}
            tabbed-content div img{width:100%;height:auto;}
            tabbed-content div p{line-height:2.5em;padding:40px;}
            
            
/*plugins*/
hide{display:none;}
collapser{padding:5px;background-color:white;color:orange;display:none;}
.flexColumn{display:flex;flex-direction:column;justify-content:center;}
flexRow{display:flex;}
hr{width:60%;}
hr:before{content:"";height:0px;width:0px;border:15px solid transparent;border-top:15px solid white;position:absolute;}
.contact{position:relative;display:inline-flex;flex-direction:column;margin:10px 20px;align-items:center;justify-content: center;background-color:white;text-decoration: none;}
    .contact img{position:absolute;top:0px;left:0px;z-index:2;width:40px;height:40px;border-radius:50%;transform:translate(-50%,-50%);}
    .contact contactname{display:block;width:100%;background-color:#4c8daf;color:white;padding:10px;float:left;}
    .contact p{display:inline-block;}
    .contact phone{color:#888;padding:10px;display:block;}
/*hr:after{content:"";height:0px;width:0px;border:10px solid transparent;border-top:10px solid orange;position:absolute;transform: translate(4px,0);}*/
.dialer{display:none;}
openclose{display:none;}

/*temp*/
@media only screen and (max-width:768px){
    header{flex-wrap:wrap;}
    header links{width:100%;}
    header links a{width:100%;}
    openclose{display:inline-block;cursor:pointer;}
    links{display:none;width:100%;}
    
    
    tab{flex-wrap:wrap;}
    .dialer{display:inline;}
    tabbed-content{flex-direction:column;align-items:center;}
    tabbed-content div{width:100%;}
    tabbed-content div item{width:auto;}
    
    /*plugins*/
    collapser{display:flex;justify-content:space-between;}
    

}


/*imported open clos e quereyi*/
.bar1,.bar2,.bar3{
    width:35px;
    height:5px;
    background-color:#888;
    margin:5px;
    transition:0.6s;
}
.open .bar1{
    transform: translate(0,10px) rotateZ(45deg);
}
.open .bar3{
    transform: translate(0,-10px) rotateZ(-45deg);
}
.open .bar2{
    opacity:0;
}
collapser{background-color:#37474F;width:100%;}
collapser p{color:white;}
collapse{width:35px;padding:20px;margin-right:20px;}
collapse hor,collapse ver{
    width:35px;height:5px;background-color:#888;display:block;
}

collapse ver{
    transition:0.25s;
    transform:rotateZ(0deg);
   /*// transform: translate(0px,0px) rotateZ(90deg);*/
}

collapse.active ver{
   transform:rotateZ(90deg);
}