/*Normalize*/

*{box-sizing:border-box;font-family:'Titillium Web',sans-serif;}
body{margin:0px;}


/*developing css*/
/**{border:1px solid red;}*/




/*Main css*/

   
    
body{background:linear-gradient(#ff9900,#f26739) fixed;min-height:100vh;}
    tab{display:flex;justify-content:space-around;margin:40px;color:white;}
        card{display:flex;flex-direction:column;align-items:center;text-align: center;opacity:1;}
            card.dark,item.dark{opacity:0.5;}
                card.dark:hover{opacity:1;}
            letter{background: url('icons/cse.png');background-size: contain;opacity:0.7; cursor:pointer;padding:30px;font-size:2em;vertical-align:middle;font-weight:900;height:95px;width:95px; border: 2px solid #fefefe; border-radius:50%}
                letter:hover,letter.active{border: 7px solid #fefefe;background-size: contain; color:orange;text-shadow:none;opacity:1;}
                .fa{margin-right:2px;}
            dept{text-transform: Uppercase;margin:10px;}
    tabbed-content{display:flex;color:white;text-align: center;justify-content:flex-start;}
        tabbed-content div{display:flex;flex:1;width:25%;align-items:center;}
        tabbed-content div:last-child{flex:2;margin-right:15px;border-radius:5px;}
        tabbed-content div.eventList{display:flex;flex-wrap: wrap;justify-content:center;align-content:flex-start;}
        tabbed-content div#about-event{flex-direction:column;background-color:#fff3E0;color:orange;text-align:left;align-items:flex-start;padding:20px;}
        tabbed-content div#about-event p{padding:0px;}
            item{display:block;padding:20px;width:30%;border:2px solid white;cursor:pointer;margin:20px;border-radius:4px;}
                item:hover,item.active{background-color:white;color:orange;box-shadow:5px 5px 5px #888 inset;}
                item.dark:hover{opacity:1;}
            tabbed-content div img{width:100%;height:auto;}
            tabbed-content div p{line-height:2.5em;padding:40px;}
            
            
/*plugins*/
hide{display:none;}
collapser{padding:5px;color:#888;display:none;}
.flexColumn{display:flex;flex-direction:column;justify-content:center;}
flexRow{display:flex;}
hr{width:60%;}
hr:before{content:"";height:0px;width:0px;border:15px solid transparent;border-top:15px solid white;position:absolute;}
.contact{position:relative;display:inline-flex;flex-direction:column;margin:10px 20px;align-items:center;justify-content: center;background-color:white;text-decoration: none;}
    .contact img{position:absolute;top:0px;left:0px;z-index:2;width:40px;height:40px;border-radius:50%;transform:translate(-50%,-50%);}
    .contact contactname{display:block;width:100%;background-color:#4c8daf;color:white;padding:10px;float:left;}
    .contact p{display:inline-block;}
    .contact phone{color:#888;padding:10px;display:block;}
/*hr:after{content:"";height:0px;width:0px;border:10px solid transparent;border-top:10px solid orange;position:absolute;transform: translate(4px,0);}*/
.dialer{display:none;}
openclose{display:none;}

/*temp*/
@media only screen and (max-width:768px){
        
    
    tab{flex-wrap:wrap;}
    .dialer{display:inline;}
    tabbed-content{flex-direction:column;align-items:center;}
    tabbed-content div{width:100%;}
    tabbed-content div item{width:auto;}
    #about-event{margin-right:0px;border-radius:0px;}
    /*plugins*/
    collapser{display:flex;justify-content:space-between;align-items:center;}
    }


accord{display:block;width:100%;}

/*imported open clos e quereyi*/

collapser{background-color:#37474F;width:100%;color:#888;}
collapser p{}
collapse{cursor:pointer;margin-right:20px;padding:20px;transform:rotateZ(0deg);transition:0.4s;}
collapse.active{transform:rotateZ(45deg);}